<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CadastrarClienteServlet</servlet-name>
        <servlet-class>br.senac.servlet.CadastrarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutos</servlet-name>
        <servlet-class>br.senac.servlet.ListarProdutos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarEstoque</servlet-name>
        <servlet-class>br.senac.servlet.CadastrarEstoque</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarEstoque</servlet-name>
        <servlet-class>br.senac.servlet.ListarEstoque</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarEstoqueServlet</servlet-name>
        <servlet-class>br.senac.servlet.AlterarEstoqueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirEstoqueServlet</servlet-name>
        <servlet-class>br.senac.servlet.ExcluirEstoqueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCliente</servlet-name>
        <servlet-class>br.senac.servlet.ListarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregarDadosServlet</servlet-name>
        <servlet-class>br.senac.servlet.CarregarDadosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregarFilialServlet</servlet-name>
        <servlet-class>br.senac.servlet.CarregarFilialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioPorCategoriaServlet</servlet-name>
        <servlet-class>br.senac.servlet.RelatorioPorCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioPorClienteServlet</servlet-name>
        <servlet-class>br.senac.servlet.RelatorioPorClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioPorFilial</servlet-name>
        <servlet-class>br.senac.servlet.RelatorioPorFilial</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarClienteServlet</servlet-name>
        <url-pattern>/clientes/CadastrarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AtualizarClienteServlet</servlet-name>
        <servlet-class>br.senac.servlet.AtualizarClienteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AtualizarClienteServlet</servlet-name>
        <url-pattern>/AtualizarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AtualizarProdutoServlet</servlet-name>
        <servlet-class>br.senac.servlet.AtualizarProdutoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AtualizarProdutoServlet</servlet-name>
        <url-pattern>/AtualizarProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CadastrarProduto</servlet-name>
        <servlet-class>br.senac.servlet.CadastrarProduto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarProduto</servlet-name>
        <url-pattern>/venda/CadastrarProduto</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExcluirClienteServlet</servlet-name>
        <servlet-class>br.senac.servlet.ExcluirClienteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExcluirClienteServlet</servlet-name>
        <url-pattern>/ExcluirClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExcluirProdutoServlet</servlet-name>
        <servlet-class>br.senac.servlet.ExcluirProdutoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExcluirProdutoServlet</servlet-name>
        <url-pattern>/ExcluirProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisarProdutoServlet</servlet-name>
        <servlet-class>br.senac.servlet.PesquisarProdutoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisarProdutoServlet</servlet-name>
        <url-pattern>/PesquisarProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisarClienteServlet</servlet-name>
        <servlet-class>br.senac.servlet.PesquisarClienteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisarClienteServlet</servlet-name>
        <url-pattern>/PesquisarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VenderProdutoServlet</servlet-name>
        <servlet-class>br.senac.servlet.VenderProdutoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VenderProdutoServlet</servlet-name>
        <url-pattern>/venda/VenderProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutos</servlet-name>
        <url-pattern>/ListarProdutos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarEstoque</servlet-name>
        <url-pattern>/estoque/CadastrarEstoque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarEstoque</servlet-name>
        <url-pattern>/ListarEstoque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarEstoqueServlet</servlet-name>
        <url-pattern>/AlterarEstoqueServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirEstoqueServlet</servlet-name>
        <url-pattern>/ExcluirEstoqueServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCliente</servlet-name>
        <url-pattern>/ListarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregarDadosServlet</servlet-name>
        <url-pattern>/venda/CarregarDadosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregarFilialServlet</servlet-name>
        <url-pattern>/estoque/CarregarFilialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioPorCategoriaServlet</servlet-name>
        <url-pattern>/RelatorioPorCategoriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioPorClienteServlet</servlet-name>
        <url-pattern>/RelatorioPorClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioPorFilial</servlet-name>
        <url-pattern>/RelatorioPorFilial</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
